.inner-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    box-shadow:  0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Poppins", sans-serif;

}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links a{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

.btn{
    height: 40px;
    background-color: #43dde6;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .links a{
        margin-right: 5px;
        font-size: 10px;
    }

  }
  
  @media (max-width: 375px) {
    .inner-navbar{
        display: none;
    }
  }
  
  
  